body {
  background-color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: antiquewhite;
  ;
  color: white;
  margin-bottom: 20px;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav-link {
  padding: 10px;
  text-decoration: none;
}

.nav-link a {
  color: white;
  text-decoration: none;
}

#about {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#about h1 {
  color: rgb(5, 88, 88);
}

#projects {
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 25px;


}

.container {
  display: flex;
  justify-content: center;
}

#projects h1 {
  color: rgb(5, 88, 88);
  font-size: 30px;
}

#projects h2 {
  color: rgb(5, 88, 88);
}

#contact {
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 25px;
}

#contact h2 {
  color: rgb(5, 88, 88);
  font-size: 30px;
}

.links {
  padding: 10px;
  font-size: larger;
  text-decoration: none;
}

.links:hover {
  color: rgb(112, 110, 110);
}

.links a {
  color: rgb(5, 88, 88);
  text-decoration: none;
}